table {
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica;
}

table th {
  background-color: palevioletred;
  color: white;
  padding: 13px;
}

table td {
  padding: 13px;
  width: 25%;
}

span + span {
  display: block;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
}

.search-input {
  padding: 10px;
  margin-right: 20px;
  border: 1px solid;
  border-radius: 5px;
}
